* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif; 
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 , h6 {
  font-family: "DM Serif Display", sans-serif;
}

/* Main section */

h1 {
  text-align: center; 
  font-weight: 700;
  font-size: 2.8em;
  padding-top: 14%;
}

h3 {
  font-size: 2em;
  font-weight: 100;
}

.main__features {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10% auto;
  /* justify-items: center; */
}

.process, .prices, .people {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 9%;
  padding: 5%;
  text-align: center;
}

.process img, .prices img, .people img {
  margin: 10% auto;
}

.main__how {
  background-color: hsl(270, 9%, 17%);
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  height: 75vh;
  color: white;
}

.how-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.button {
  display: block;
  background-color: hsl(270, 9%, 17%);
  color: white;
  margin: auto;
  width: 60%;
  padding: 0.6em;
  border: 2px solid white;
}

@media screen and (min-width: 600px) {
  .main__features {
    margin: 15% 15%;
  }
}

@media only screen and (min-width: 980px) {
  button.button {
    width: 23%;
    margin-top: 9%;
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  .main__features {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% 5%;
  }
  .how-text {
    flex-direction: row;
  }
  main h1 {
    margin: auto;
    font-size: 3em;
    width: 44%;
    text-align: left;
    padding-top: 9%;
  }
  
  .main__how {
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-position: top right;
    background-repeat: no-repeat;
    height: 55vh;
    background-size: contain;
  }
}